aniso8601==3.0.2
click==6.7
flasgger==0.9.1
Flask==1.0.2
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
mistune==0.8.3
pkg-resources==0.0.0
pytz==2018.5
PyYAML==3.13
six==1.11.0
uWSGI==2.0.17.1
Werkzeug==0.14.1
